@charset "UTF-8";

/* =============================== */
/* お問い合わせ
================================== */
.contact .pagetitle {
  background-color: #000000;
  background-image: url('../img/pages/contact/img_hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
