@use '../global' as *;

main {
  padding: {
    bottom: 100px;
    top: 70px;
  }
}

section {
  &:not(:is(.pagetitle, :last-of-type)) {
    padding-bottom: 100px;
  }
  * ~ section:not(:last-of-type) {
    padding: {
      bottom: 50px;
      top: 0;
    }
  }
}

.l-content {
  flex: 1;
}

@include mq(sp) {
  main {
    padding: {
      bottom: 80px;
      top: 60px;
    }
  }
  section {
    &:not(:is(.pagetitle, :last-of-type)) {
      padding-bottom: 80px;
    }
  }
}
