.list_parent {
  border-bottom: 1px solid #dbd1c9;
  border-top: 1px solid #dbd1c9;
  margin-top: 30px;
}

.list {
  border-bottom: 1px solid #dbd1c9;
}

.list:last-child {
  border-bottom: none;
}

.link {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 20px 0;
}

.link:hover {
  opacity: 0.7;
}

.image {
  width: 200px;
  height: auto;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.meta {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 640px) {
  .link {
    display: block;
    padding: 16px 0;
  }
  .image {
    display: none;
  }

  .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

  .meta {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
