@charset "UTF-8";

/* =============================== */
/* ページトップ
================================== */
.pagetop {
  bottom: 20px;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 20;
}
.pagetop__icon {
  width: 1px;
  height: 0;
  background: #383838;
  display: block;
  margin: auto;
  position: relative;
  transition: height 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transform-origin: left top;
}
.pagetop__icon::before,
.pagetop__icon::after {
  left: 50%;
  position: absolute;
  top: -10px;
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-top: 1px solid #383838;
  border-right: 1px solid #383838;
  transform: translateX(-50%) rotate(-45deg);
}
.pagetop__icon::after {
  top: 4px;
}
.pagetop__link {
  color: #383838;
  font-family: Roboto, sans-serif;
  font-weight: 14px;
  font-size: 500;
  letter-spacing: 0.2em;
  line-height: 30px;
  margin-top: 30px;
  text-align: center;
  writing-mode: vertical-rl;
}
.pagetop:hover .pagetop__icon {
  height: 60px;
}
.pagetop.on-white .pagetop__icon {
  background: #ffffff;
}
.pagetop.on-white .pagetop__icon::before,
.pagetop.on-white .pagetop__icon::after {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.pagetop.on-white .pagetop__link {
  color: #ffffff;
}
