@use '../global/variables' as *;
@use '../global/mixin' as *;
@use '../global/extend' as *;

/* =============================== */
/* ともきゃんができること
================================== */
.skill {
  .first {
    font-size: 16px;
    text-align: center;
  }

  .programming,
  .tool,
  .ai-tool {
    padding-bottom: 80px;
    &__note {
      padding-bottom: 30px;
      text-align: center;
      background: #fff6ed;
      border: 1px solid #f36b0a;
      border-radius: 8px;
      color: #f36b0a;
      font-weight: bold;
      padding: 16px 24px 16px 24px;
      margin-bottom: 24px;
      font-size: 14px;
    }
    &__item {
      align-items: center;
      display: flex;
      gap: 20px 30px;
      &:has(+ div) {
        margin-bottom: 30px;
      }
    }
    &__heading {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.7;
    }
    &__image {
      flex: 0 0 100px;
      text-align: center;
    }
    &__occupation {
      font-size: 13px;
      white-space: nowrap;
    }
  }

  .license {
    &__cont {
      display: grid;
      place-content: center;
    }
  }

  .other {
    &__cont {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    &__card {
      border: 1px solid #282828;
      border-radius: 10px;
      color: #282828;
      padding: 2px 10px;
    }
  }

  @include mq(sp) {
    .first {
      text-align: left;
    }

    .programming,
    .tool,
    .ai-tool {
      padding-bottom: 80px;
      &__note {
        padding-bottom: 30px;
        text-align: center;
        background: #fff6ed;
        border: 1px solid #f36b0a;
        border-radius: 8px;
        color: #f36b0a;
        font-weight: bold;
        padding: 16px 24px 16px 24px;
        margin-bottom: 24px;
        font-size: 15px;
      }
      &__item {
        align-items: center;
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 15px 20px;
      }
      &__detail {
        display: contents;
      }
      &__description {
        grid-column: span 2;
      }
      &__occupation {
        font-size: 13px;
        white-space: nowrap;
      }
    }
  }
}
