@use '../../global' as *;

.u-text {
  &-lead {
    font: {
      size: 28px;
      weight: 400;
    }
    letter-spacing: 0.1em;
  }

  $colors: (
    'color': $mainC,
    'color-w': '#ffffff',
  );

  @each $color-name, $color in $colors {
    &-#{$color-name} {
      color: $color;
    }
  }

  &-link {
    text-decoration: underline;
  }

  &-note {
    display: block;
    font-size: 0.875em;
    line-height: 1.5;
    margin-top: 0;
    &::before {
      content: '※';
      display: inline-block;
    }
  }
}
