.container {
  border-radius: var(--radius-standard);
}

.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
}

.text {
  font-size: 1rem;
  margin-bottom: 32px;
  text-align: center;
}

.container > p:last-child {
  text-align: center;
}

@media (max-width: 640px) {
  .title {
    text-align: left;
  }

  .text {
    text-align: left;
  }

  .container > p:last-child {
    text-align: left;
  }

  .container :global(.c-button__link) {
    min-width: 0;
    width: 100%;
  }
}
