.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
}

.text {
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 640px) {
  .title {
    text-align: left;
  }

  .text {
    text-align: left;
  }
}
