/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/roboto-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/roboto-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Noto Sans JP */
@font-face {
  font-family: 'Noto Sans JP';
  src: url('/fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('/fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Caveat_Brush */
@font-face {
  font-family: 'Caveat Brush';
  src: url('/fonts/Caveat_Brush/CaveatBrush-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
