// 横幅
$inner: 840px;
$innerSmall: 640px;

// 日本語本文とページタイトルで共通の書体を使う
$fontText: -apple-system, Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, BlinkMacSystemFont, sans-serif;

// サイトカラー
$textC: #282828;
$mainC: #f36b0a;
$baseC: #f2edea;
$linkC: #282828;

// 角丸
$radiusSmall: 6px;
$radiusStandard: 10px;
$radiusLarge: 16px;

:root {
  --radius-small: #{$radiusSmall};
  --radius-standard: #{$radiusStandard};
  --radius-large: #{$radiusLarge};
}
