.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 24px;
  text-align: left;
}

.description {
  background-color: #fdebde;
  font-size: 0.9rem;
  color: #f36b0a;
  margin: 0 0 20px;
  padding: 4px 10px;
  text-align: left;
}

.meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin-bottom: 20px;
}

.categoryLink {
  display: flex;
}

.thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.content {
  border-top: 1px solid #dbd1c9;
  padding-top: 30px;
}

.content *:first-child {
  margin-top: 0;
}

.content > h1 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  margin: 2.8rem 0 1rem;
}

.content > h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 2.8rem 0 1.1.5rem;
}

.content > h2::before {
  background-color: #f36b0a;
  height: 0.8rem;
  content: '';
  display: inline-block;
  margin: 0 0.5rem;
  rotate: 45deg;
  transform-origin: top;
  vertical-align: middle;
  width: 0.8rem;
}

.content > h3 {
  border-left: 5px solid #f36b0a;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 2.8rem 0 1rem;
  padding-left: 0.6em;
}

.content > h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.content > h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.content > p:has(+ *) {
  margin: 0 0 1.5rem;
}

.content > pre {
  overflow-x: auto;
}

.content pre > code {
  background-color: #eeeeee;
  display: block;
  overflow-x: auto;
  padding: 16px;
}

.content div[data-filename]::before {
  display: inline-block;
  background-color: #eeeeee;
  content: attr(data-filename);
  margin: 1em 0 0;
  font-family: menlo, inconsolata, monospace;
  font-size: 0.8rem;
  padding: 4px 16px;
  border-radius: 50% 50% 0 0;
}

.content ul,
.content ol {
  line-height: 1.5;
  margin: 0.5rem 0 0.5rem 1.5rem;
}

.content > ul,
.content > ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.content ul > li {
  list-style: disc;
}

.content ol > li {
  list-style: decimal;
}

.content li:has(+ li) {
  margin-bottom: 0.5rem;
}

.content a {
  text-decoration: underline;
}

.content > figure > img {
  max-width: 100%;
  height: auto;
  margin: 1.5rem 0;
}

.content > strong {
  font-weight: bold;
}

.content > blockquote {
  border-left: 4px solid #eeeeee;
  padding-left: 1rem;
  font-style: italic;
  margin: 1.5rem 0;
}

.content > hr {
  margin: 3rem 0;
  height: 1px;
  background-color: #eeeeee;
  border: none;
}

.content > table {
  width: 100%;
  margin: 1.5rem 0;
}

.content > table th {
  background-color: #eeeeee;
  text-align: left;
  padding: 1rem;
}

.content > table td {
  text-align: left;
  padding: 1rem;
}

/* カスタムclass */
.content > p > span.text-large {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 640px) {
  .title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .description {
    font-size: 0.9rem;
  }

  .meta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.9rem;
  }

  .thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .content {
    width: 100%;
  }

  .content > h1 {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
    margin: 2.8rem 0 1rem;
  }

  .content > h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 2.8em 0 1rem;
  }

  .content > h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 2.8rem 0 1rem;
  }

  .content > h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2.8rem 0 1rem;
  }

  .content > h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 2.8rem 0 1rem;
  }
}
