@charset "UTF-8";

/* =============================== */
/* ともきゃんができること
================================== */
.skill .pagetitle {
  background-color: #000000;
  background-image: url('../img/pages/skill/img_hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.skill .first {
  font-size: 16px;
  text-align: center;
}
.skill .programming,
.skill .tool {
  padding-bottom: 80px;
}
.skill .programming__item,
.skill .tool__item {
  align-items: center;
  display: flex;
  gap: 20px;
}
.skill .programming__item:has(+ div),
.skill .tool__item:has(+ div) {
  margin-bottom: 20px;
}
.skill .programming__heading,
.skill .tool__heading {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}
.skill .programming__image,
.skill .tool__image {
  flex: 0 0 100px;
  text-align: center;
}
.skill .programming__occupation,
.skill .tool__occupation {
  font-size: 13px;
  white-space: nowrap;
}
.skill .license__cont {
  display: grid;
  place-content: center;
}
.skill .other__cont {
  display: grid;
  place-content: center;
}
