@charset "UTF-8";

/* ボタン
/* ======================================= */
.button_link {
  background-color: #f36b0a;
  border: 1px solid #ffffff;
  border-radius: calc(infinity * 1px);
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  line-height: 1.5;
  padding: 15px 40px;
  position: relative;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  min-width: 300px;
}
.button_link::before {
  border: 1px solid;
  border-color: #ffffff #ffffff transparent transparent;
  content: '';
  display: block;
  height: 10px;
  right: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
}
.button_link:hover,
.button_link:focus {
  background-color: #ffffff;
  border-color: #f36b0a;
  color: #f36b0a;
  opacity: 1;
}
.button_link:hover::before,
.button_link:focus::before {
  border: 1px solid;
  border-color: currentColor currentColor transparent transparent;
}
.button_link._gray {
  background-color: #666666;
  color: #ffffff;
}
.button_link._gray::before {
  border: 1px solid;
  border-color: currentColor currentColor transparent transparent;
}
.button_link._gray:hover {
  background-color: #ffffff;
  border-color: #666666;
  color: #666666;
}
.button_link._gray:hover::before {
  border: 1px solid;
  border-color: currentColor currentColor transparent transparent;
}
.button_link._navy {
  background-color: #001473;
  color: #ffffff;
}
.button_link._navy::before {
  border: 1px solid;
  border-color: currentColor currentColor transparent transparent;
}
.button_link._navy:hover {
  background-color: #ffffff;
  border-color: #001473;
  color: #001473;
}
.button_link._navy:hover::before {
  border: 1px solid;
  border-color: currentColor currentColor transparent transparent;
}
.button_link_external {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: calc(infinity * 1px);
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  line-height: 1.5;
  padding: 15px 40px;
  position: relative;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  min-width: 300px;
}
.button_link_external::before {
  border: 1px solid;
  border-color: #ffffff #ffffff transparent transparent;
  content: '';
  display: block;
  height: 10px;
  right: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
}
.button_link-external:hover,
.button_link-external:focus {
  background-color: #ffffff;
  border-color: transparent;
  color: transparent;
  opacity: 1;
}
.button_link-external:hover::before,
.button_link-external:focus::before {
  border: 1px solid;
  border-color: currentColor currentColor transparent transparent;
}
.button_link-external:hover,
.button_link-external:focus {
  background-color: #ffffff;
  color: #383838;
}
.button_link._return::before {
  left: 30px;
  right: auto;
  transform: translateY(-50%) rotate(225deg);
}

/* 見出し
/* ======================================= */
.heading_lv2 {
  color: #383838;
  display: flex;
  flex-flow: column;
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}
.heading_lv2_en {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: clamp(34px, 4vw, 44px);
  line-height: 1;
  letter-spacing: 0.1em;
}
.heading_lv2_en::after {
  border-bottom: 1px solid #f36b0a;
  content: '';
  display: block;
  margin: 15px auto;
  width: 60px;
}
.heading_lv2_ja {
  display: block;
  font-weight: 500;
  font-size: clamp(18px, 1.8vw, 20px);
  letter-spacing: 0.05em;
  line-height: 1;
}
.heading_lv2._color-w .heading_lv2_en {
  color: #ffffff;
}
.heading_lv2._color-w .heading_lv2_en::after {
  border-color: currentColor;
}
.heading_lv2._color_w .heading_lv2_ja {
  color: #ffffff;
}
.heading_lv3 {
  font-size: 20px;
  line-height: 1.5;
}

/* リンク
/* ======================================= */
.link_external::after {
  background: url(/common/icon_link-external.svg) no-repeat center/contain;
  content: '';
  display: inline-block;
  height: 0.8em;
  margin-left: 0.5em;
  vertical-align: text-top;
  width: 0.8em;
}
.link_external._w::after {
  background: url(/common/icon_link-external-w.svg) no-repeat center/contain;
}

/* リスト
/* ======================================= */
.list li {
  padding-left: 15px;
  position: relative;
}
.list li::before {
  background: #f36b0a;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 6px;
  position: absolute;
  left: 0;
  top: 0.7em;
  width: 6px;
}

/* テキスト
/* ======================================= */
.text_lead {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.text_color {
  color: #f36b0a;
}
.text_color-w {
  color: #ffffff;
}
.text_note {
  font-size: 0.875em;
  margin-top: 0;
  padding-left: 1em;
}
.text_note::before {
  content: '※';
  display: inline-block;
  text-indent: -1em;
}

/* テーブル
/* ======================================= */
.table {
  border-collapse: separate;
  border-spacing: 0 1px;
  width: 100%;
}
.table th {
  background: #f36b0a;
  color: #ffffff;
  padding: 10px 15px;
  text-align: center;
  width: 150px;
}
.table td {
  background-color: #ffffff;
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .table {
    width: 100%;
    overflow-x: auto;
    display: block;
  }
  .table :is(thead, tbody, th, td, tr) {
    display: block;
  }
  .table th {
    padding: 10px;
    text-align: left;
    width: 100%;
  }
  .table td {
    background: none;
    padding: 10px;
    padding-bottom: 20px;
  }
}

/* カラム
/* ======================================= */
.row {
  display: flex;
  gap: clamp(20px, 3vw + (100vw - 800px) * 0.1, 30px);
  justify-content: space-between;
}
.row .col {
  flex: 1;
}
.row .col_img {
  flex-shrink: 0;
  max-width: 55vw;
}
.row .col_text {
  align-self: center;
  width: 100%;
}
.row._center {
  justify-content: center;
}
.row._end {
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
    gap: 40px;
  }
  .row .col_text {
    order: 2;
  }
  .row .col_ > img {
    max-width: 100%;
    order: 1;
    text-align: center;
  }
  .row._spReverse {
    flex-direction: column-reverse;
  }
}
