@use '../../global' as *;

.c-heading {
  &-lv2 {
    $heading-lv2: &;
    color: $textC;
    display: flex;
    flex-flow: column;
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center;
    &-en {
      font: {
        family: var(--font-roboto), sans-serif;
        weight: 400;
        size: clamp(20px, 2vw, 24px);
      }
      line-height: 1.3;
      letter-spacing: 0.06em;
      &::after {
        border-bottom: 1px solid $mainC;
        content: '';
        display: block;
        margin: 15px auto;
        width: 60px;
      }
    }
    &-ja {
      display: block;
      font: {
        weight: 600;
        size: clamp(24px, 2.5vw, 28px);
      }
      letter-spacing: 0.02em;
      line-height: 1.5;
      text-wrap: balance;
    }
    &.--color-w {
      #{$heading-lv2} {
        &-en {
          color: #ffffff;
          &::after {
            border-color: currentColor;
          }
        }
        &-ja {
          color: #ffffff;
        }
      }
    }
  }
  &-lv3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
  }
}
