@use '../../global' as *;

/* リスト
/* ======================================= */
.c-list {
  li {
    padding-left: $space-6;
    position: relative;
    &::before {
      @include listStyle();
    }
  }

  &-ol {
    counter-reset: my-counter;
    li {
      padding-left: $space-8;
      position: relative;
      &::before {
        @include olListStyle();
      }
    }
  }
}
