@use '../../global' as *;

/* テーブル
/* ======================================= */
.c-table {
  &-01 {
    border-collapse: separate;
    border-spacing: 0 1px;
    width: 100%;
    th {
      background: $mainC;
      color: #ffffff;
      padding: 10px 15px;
      text-align: center;
      width: 150px;
    }
    td {
      background-color: #ffffff;
      padding: 10px 15px;
    }
  }

  @include mq(sp) {
    &-01 {
      width: 100%;
      overflow-x: auto;
      display: block;
      :is(thead, tbody, th, td, tr) {
        display: block;
      }
      th {
        padding: 10px;
        text-align: left;
        width: 100%;
      }
      td {
        background: none;
        padding: 10px;
        padding-bottom: 20px;
      }
    }
  }
}
